rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /calls/{callId} {
      allow create: if request.auth != null && request.resource.data.createdByUid == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.createdByUid == request.auth.uid;
    }
  }
}
